.direnv
result
target
contract/upgrade.tz
rollup

kernel.log
rollup.log
next_index
external_message_log
tx_log
image.png

node_modules
individual_logs
frames
*.mp4
viewer/js/normalized.js
tznft.json
min_tx_log
.ligo
.vscode
